In [2]:
import pandas as pd
columns = ['Column1', 'Column2', 'Column3', 'Column4', 'Column5', 'Column6']
df = pd.DataFrame(columns=columns)
df['Column1'] = ['Value1']
df['Column3'] = ['Value3']
csv_file_path = './extracted_data/file_path.csv'

df.to_csv(csv_file_path, index=False)
df.head()

  Column1 Column2 Column3 Column4 Column5 Column6
0  Value1     NaN  Value3     NaN     NaN     NaN

In [9]:

global_flag = True
def your_function():
    global global_flag
    a=2
    if a==2:
        global_flag = False
        b=6
        if b==4:
            global_flag=True
    if global_flag==True:
        print("yes")
    else:
        print("no")
        

for i in range(3):
    your_function()
    print(f'Iteration {i + 1}: {global_flag}')

no
Iteration 1: False
no
Iteration 2: False
no
Iteration 3: False

In [12]:
s="Sorry a"
if 'orry' in s:
    print("yes")

yes

In [10]:
sent="i am an ai engineer ,why not u?"
if 'engineer' in sent.lower().split():
    print("yes")
sent.lower().split()

yes

['i', 'am', 'an', 'ai', 'engineer', ',why', 'not', 'u?']